#exe6mainDiv {
    height: 72vh;
}

.exe6content1 {
    margin-top: 0px;
}

.mainexe6img {
    margin-left: 240px;
}

.exe6content2_heading img{
    float: center;
    width: 80px;
    height: 62px;
}

.exe6content2_heading h1 {
    display: inline;
}

.exe6heading {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #515151;
}
  
.exe6text2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #515151;
}

.exe6subdiv {
    border: 1.5px solid black;
    border-top-right-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px;
    margin-right: 12px;
    margin-top: 12px;
}

.exe6subhead {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #515151;
    margin-top: 22px;
}

.exe6subpara {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #888888;

    margin-top: 12px
}

  
/* Phone/ Small */
@media only screen and (max-device-width: 640px) {
    #exe6mainDiv {
        height: 72vh;
    }
    
    .exe6content1 {
        margin-top: 0px;
    }
    
    .mainexe6img {
        margin-left: 25%;
        width: 47%;
    }
    
    .exe6content2_heading img{
        float: center;
        width: 44px;
    }
    
    .exe6content2_heading h1 {
        display: inline;
    }
    
    .exe6heading {
        font-size: 22px;
        margin-bottom: 0px;
    }
      
    .exe6text2 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    
    .exe6subhead {
        font-size: 16px;
        margin-top: 0px;
    }
    
    .exe6subpara {
        font-size: 13px;
        line-height: 150%;
    }
}
  
/* Tabs/ Medium */
@media only screen and (min-device-width: 641px) and (max-device-width: 1024px) {

}
  
/* Laptop/ MAC */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1919px) {
    #exe6mainDiv {
        height: 64vh;
    }
    
    .exe6content1 {
        margin-top: 0px;
    }
    
    .mainexe6img {
        margin-left: 180px;
        width: 456px;
    }
    
    .exe6content2_heading img{
        float: center;
        width: 70px;
        position:absolute;
        margin-left: -25px;
    }
    
    .exe6content2_heading h1 {
        display: inline;
        margin-top: 12px;
    }
    
    .exe6heading {
        font-size: 30px;
    }
      
    .exe6text2 {
        font-size: 24px;
    }
    
    .exe6subdiv {
        margin-top: 12px;
        border: 1.5px solid black;
        border-top-right-radius: 16px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 0px;
        margin-right: 12px;
        width: auto;
    }
    
    .exe6subhead {
        font-size: 26px;
    }
    
    .exe6subpara {
        font-size: 16px;
        line-height: 150%;
    }
    
}

/* Desktop
@media only screen and (min-device-width: 1920px) {
    #mainDiv {
        height: 72vh;
    }
    
    .content1 {
        margin-top: 0px;
    }
    
    .mainexe6img {
        margin-left: 240px;
    }
    
    .content2_heading img{
        float: center;
        width: 80px;
        height: 62px;
    }
    
    .content2_heading h1 {
        display: inline;
    }
    
    .heading {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #515151;
    }
      
    .text2 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #515151;
    }
    
    .subdiv {
        border: 1.5px solid black;
        border-top-right-radius: 16px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 0px;
        margin-right: 12px;
        margin-top: 12px;
    }
    
    .subhead {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        color: #515151;
        margin-top: 22px;
    }
    
    .subpara {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #888888;
    
        margin-top: 12px
    }
} */




/* tickmark and the rectangle that contains the code samples */
.up-down-exe6 {
    -webkit-animation: mover25 1s infinite  alternate;
    animation: mover25 1s infinite  alternate;
}
.up-down-exe6 {
    -webkit-animation: mover25 1s infinite  alternate;
    animation: mover25 1s infinite  alternate;
}
@-webkit-keyframes mover25 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-7px); }
}
@keyframes mover25 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-7px); }
}


/* code samples animation */
.right-left-exe6 {
    animation: mover24 .9s infinite alternate;
}
@keyframes mover24 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-4px);}
}


/* eyes animation */
.right-lefteye-exe6 {
    animation: mover26 .9s infinite alternate;
}
@keyframes mover26 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2px);}
}


/** The Class **/
.under-pressure-exe6 {
	-webkit-animation: under-pressure6 0.5s linear infinite both;
	        animation: under-pressure6 0.3s linear infinite both;
}

/** animation under-pressure for rocket and gears */
@-webkit-keyframes under-pressure6 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes under-pressure6 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}